#caption {
    display: flex;
    top: 0px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 18px;
    align-items:center;
}
#createinTableButton{
    position: absolute;
    right: 20px;
}

#searchInput{
    position: absolute;
    right: 120px;
}



.table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    max-height: calc(100vh - 30%);
}

#tableComponent {
    width: 100%;
}

thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tfoot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #ddd;
}

tfoot p {
    margin: 0 10px 0 0;
}



.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #ddd;
    background-color: #f2f2f2;
    border-radius: 0 0 10px 10px;
}

.footer-container p {
    margin: 0 10px 0 0;
}

/* Sticky columns */
thead th:first-child,
tbody td:first-child,
thead th:last-child,
tbody td:last-child {
    position: sticky;
    background-color: #f0f0f0;
    z-index: 1;
    margin: 0;
}

thead th:first-child,
tbody td:first-child {
    background-color: #f0f0f0;
    left: 0;
    z-index: 2;
}

thead th:last-child,
tbody td:last-child {
    right: 0;
}