

textarea {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
    max-width: 876px;
    height: 100px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    border-radius: 4px;
}