.boxModelTwo{
    width: 100%;
}
.inputSectionM2 div {
    padding: 20px;
    width: fit-content;
    text-align: center;
    border: 1px solid #ccc;
}


.largeInputSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.largeInputSection div {
    text-align: center;
}

.inputSectionMTwo > div {
    width: fit-content;
    text-align: center;
}

.inputSectionMTwo {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.inputSectionMTwo>div {
    flex: 1 1 calc(50% - 16px);
    box-sizing: border-box;
}

.inputSectionMTwo input {
    width: 100%;
}

.titleSection{
    
}