
label {
    display: block;
    width: fit-content;
    margin-bottom: 5px;
    font-weight: light;
}

.inputCorrect {
    display: block;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 412px;
    height: 32px;
    top: 22px;
    gap: 0px;
    border-radius: 4px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #878787;
    background: rgba(0,0,0,0);
}